
/*header stuff*/
body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	width: 100%;
}

nav{
	height: 55px;
	background-color: #563535;
}

nav ul{
	margin: 0;
	padding: 18px 26px;
	display:flex;
	justify-content: space-around;
	align-items: center;

}
nav ul li{
	list-style-type:none;
	display:inline-block;
	color: #fff;
	font-weight:bold;
	font-family: big-caslon-fb,Georgia, serif;
	font-variant-caps: small-caps;
}
nav ul li a:visited{
	color:#fff;
}
nav ul li a{
	width: 200px;
	padding: 18px 25px;
	text-decoration: none;

}

nav ul li a:hover{
	color:#000;
	background-color: #fff;
	text-align: center;
}

h1{
	max-width: 100%;
	height:300px;
	display: block;
	background-image: url("../img/lightningtree.png");
	background-size: cover;
	background-color:#076009;
	background-position: center;
	text-align:center;
	padding: 150px 30px 80px 0px;
	margin: 0px;
	font-family: big-caslon-fb, serif;
	font-size: 62px;
	color:#fff;
	border-bottom:20px solid #5B5F56;
}
/*end header stuff*/





h2{
	font-family: big-caslon-fb, serif;
	font-size:25px;
	padding:10px;
}
p{
	font-family:Georgia,serif;
	padding:5px;
	line-height: 2em;

}
h4{
	font-weight:black;

}
a{
text-decoration:none;

}






/*HOME*/
.mid{
	width:960px;
	margin:0 auto;
	text-align:center;
}
#green-box{
	background-image: linear-gradient(175deg, #6e9075 70%,#5c5f56 calc(70% + 2px));
	height: 500px;
	display:flex;
	flex-flow: row-wrap;
	justify-content:space-between;
	padding:50px
}

#mail img{
	margin: 20px;
	height: 225px;
	width: 300px;
}
#contact{
	display:inline-block;
	width:250px;
	font-family: big-caslon-fb, serif;
	font-weight: bold;
	color: #000;
	font-size: 20px
}
#green-box h2{
	font-weight:black;
	font-size:35px;
}
#mid-white{
	padding: 0px 20px;
	border: 1px dashed #000
	margin:10px;
}
.small-text{
	text-align:center;
	font-family: big-caslon-fb, serif;
	font-style: italic;
	margin:0 auto;
	width:960px;
}

#flex-columns{
	display:flex;
	width:960px;
	margin:0 auto;
}
.firstchar{
	float:left;
	color:#6D9074;
	font-size: 75px;
	line-height: 60px;
	padding-top:4px;
	padding-right:8px;
	padding-left:3px;

}
h2.firstchar{
	clear:both;
	padding:0px;
}

#fimg{
	width:600px;
	margin:0 auto;

}
#mid-white p{
	width:30%;
}



























/*GALLERY*/

.flex-container{
	display:flex;
	flex-flow: row wrap;
	align-items:center;
	width:1300px;
	margin: 0 auto

}

.flex-container2{
	display:flex;
	flex-flow: row wrap;
	align-items:center;
	width:960px;
	margin: 0 auto
	}

#home-boxes{
		display:flex;
}

.gal-item{
	width: 400px;
	height: 400px;
	margin:10px;
	display:block;
	padding: 20px;
	border-radius: 5px;
	border: 5px solid #bee2bf;
	padding:0;
}
#illustration{
	background-image:url(../img/immigrant-thumb.jpg);
	background-position: left 400px;

}
#comic-pages{
background-image: url("../img/endcard-thumb.jpg");
background-position: center 400px;
}
#character-sheets{
	background-image:url("../img/cerule-design-thumb.jpg");

}
#animation-samples{
	background-image: url("../img/fish-tank-thumb.png");
	background-repeat: no-repeat;
}
#stickers{
	background-image: url("../img/yatochibi-web.png");
	background-position: center 400px;
}
#stickers img{
	width:50%;
}

#animated-shorts{
	background-image: url("../img/hades-and-perse-5-thumb2.jpg");
	background-position:center 10px;

}
#compositing{
	background-image: url("../img/movie-poster-thumb.png");
	background-repeat: no-repeat

}
#rigging{
	background-image: url("../img/rigging-thumb.png");
	background-repeat: no-repeat;
}

#modeling{
	background-image: url("../img/modeling-thumb.png");
	background-repeat: no-repeat;
}
.flex-container h4{
	color: #fff;
	background-color:rgba(0,91,95, 0.75);
	height:300px;
	width:300px;
	opacity:0.0;
	margin:0 auto;
	padding:50px 50px;
	text-align: center;
	font-family: big-caslon-fb,Georgia, serif;
	font-size:40px;
	font-variant-caps: small-caps;
	vertical-align: middle;


}
.flex-container h4:hover{
	opacity: 1;
	transition: .5s ease;
}


.flex-container2 h4{
	color: #fff;
	background-color:rgba(0,91,95, 0.75);
	height:300px;
	width:300px;
	opacity:0.0;
	margin:0 auto;
	padding:50px 50px;
	text-align: center;
	font-family: big-caslon-fb,Georgia, serif;
	font-size:40px;
	font-variant-caps: small-caps;
	vertical-align: middle;


}
.flex-container2 h4:hover{
	opacity: 1;
	transition: .5s ease;
}



























/*GALLERY PLUS*/

.top-img-buffer{
	height: 20px;
	margin: 0;

}

#bbtitle{
	padding:20px;
	border-bottom: 1px solid #000;
	text-align:center;
	width:800px;
	margin:5px auto;

}
#display-title{
	background-color:#79C092;
	height:100px;
	width:960px;
	margin:0 auto;
	font-family: big-caslon-fb, serif;

}
#display-img{
	width:960px;
	margin:0 auto;
	padding: 0px;
}
.bgwhite{
	border: 2px solid #5c5f56;
}
#description-box{
	width:960px;
	margin:0 auto;
}

#description-box p{
	width:860px;
	padding:10px 50px;
	font-family: big-caslon-fb, serif;
	font-size: 20px;
}

.divider{
	height: 15px;
	width:960px;
	margin:4px auto;
	background-color:#5c5f56;
}
#gal-nav{
	height: 50px;
	width:960px;
	margin:0px auto;
	background-color:#6e9075;
	display: flex;
	justify-content: space-between;
}

#gal-nav p{
	margin:0px;
}

.pageback{
	display: inline-block;
	text-align: center;
	padding: 5px;
	height: 25px;
	width: 100px;
	font-weight: bold;
	font-family: big-caslon-fb, serif;
}


.pagenext{
	display: inline-block;
	text-align: center;
	padding: 5px;
	height: 25px;
	width: 100px;
	font-weight: bold;
	font-family: big-caslon-fb, serif;
}

.pageback p{
	line-height: 1em;
	width: 50px;
	height: 20px;

}

.pageback p a:visited{
	color:#fff;
}
.pageback p a{
	width: 200px;
	padding: 10px 25px;
	text-decoration: none;
	color: #000;

}

.pageback p a:hover{
	color:#000;
	background-color: #fff;
	text-align: center;
}





















/*RESUME*/


#subhead{
	text-transform: uppercase;
	font-family: Helvetica, Futura, sans-serif;
	color:#7a7a7a;
	text-align: center;
	padding-bottom: 40px;
	line-height: 1em
}
#stuff{
	border: 1px solid #000;
	margin:20px;
}




/*Chickens! Home Page*/

.astatement{
	margin: 0 auto;
	justify-content: center;
}
.divider2{
	height: 25px;
	width:960px;
	margin:5px auto;
	background-color:#6e9075;;
}

#presentation{
	width:960px;
	margin:0 auto;
	padding: 0px;
}


#ref-imgs{
	background-image: url("../img/chick_egg.png");
	background-position: center;
	background-size: 200%;
}

#storyboards{
	background-image: url("../img/storyboard.png");
	background-position: center;
	background-size: 150%;
}
#animatic{
	background-image: url("../img/animatic-thumb.png");
	background-position: center;
	background-size: 150%;
}
#models{
	background-image: url("../img/model-thumb.png");
	background-position: center;
	background-size: 150%;
}
#rigs{
	background-image: url("../img/chick_egg.png");
	background-position: center;
	background-size: 200%;
}
#animation-test{
	background-image: url("../img/chick_egg.png");
	background-position: center;
	background-size: 200%;
}
/*
#chick-filler{
	background-image: url("../img/chick-filler.jpg");
	height: 187px;
	background-repeat: no-repeat;
}

*/



/*footer

footer{
	height:100px;
	background-color: #563535;
}

footer nav{
	background-color: rgba(0,0,0,0);
	width:70%;
	margin:20 auto;
	padding-left:35%;
	padding-top:25px;
}
footer nav ul{
	display:inline-block;
	margin:0 auto;
}
*/
footer nav{
	height: 55px;
	background-color: #563535;
}

footer nav ul{
	margin: 0;
	padding: 18px 26px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
footer nav ul li{
	list-style-type:none;
	display:inline-block;
	color: #fff;
	font-weight:bold;
	font-family: big-caslon-fb,Georgia, serif;
	font-variant-caps: small-caps;
}
footer nav ul li a:visited{
	color:#fff;
}
footer nav ul li a{
	width: 200px;
	padding: 18px 25px;
	text-decoration: none;

}

footer nav ul li a:hover{
	color:#000;
	background-color: #fff;
	text-align: center;
}